{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{  define "query/additional/form" }}
{{ $builder := $.QueryName }}
{{ $receiver := receiver $builder }}
func ({{ $receiver }} *{{ $builder }}) Queries(i interface{}) *{{ $builder }} {
	queryList, _ := Set{{.Name}}FormQueries(i)
	for _,v := range queryList {
		v.Query({{ $receiver }})
	}
	return {{ $receiver }}
}

func ({{ $receiver }} *{{ $builder }}) ByQueriesAll(ctx context.Context, i interface{}) (res {{plural (pascal $.Name)}},count int, err error) {
	queryList, countList := Set{{.Name}}FormQueries(i)
	countQ := {{ $receiver }}.Clone()
	for _,v := range queryList {
		v.Query({{ $receiver }})
	}
	for _, v := range countList {
		v.Query(countQ)
	}
	count,err = countQ.Count(ctx)
	if err != nil {
		return
	}
	res, err = {{ $receiver }}.All(ctx)
	return
}

type {{$.Name}}TableFormer interface {
	Query(q *{{$.Name}}Query)
	CountQuery() bool
}

type {{$.Name}}TablePagingForm struct {
	Limit *int `json:"_limit" form:"_limit" {{if and $.Annotations.rest (hasKey $.Annotations.rest "pagingLimitMax")}}{{$.Annotations.pagingLimitMax}}{{end}}`
	Page *int `json:"_page" form:"_page"`
}

func (f {{$.Name}}TablePagingForm) Query(q *{{$.Name}}Query) {
	if f.Limit != nil && f.Page != nil {
		q.Limit(*f.Limit).Offset((*f.Page-1) * *f.Limit)
	}
}

func (f {{$.Name}}TablePagingForm) CountQuery() bool {
	return false
}

type {{$.Name}}TableOrderForm struct {
	Order *string `json:"order" form:"_order" binding:"omitempty,oneof=acs desc"`
	SortBy *string `json:"sortBy" form:"_sortBy"`
}

func (f {{$.Name}}TableOrderForm) Query(q *{{$.Name}}Query) {
	if f.Order != nil && f.SortBy != nil {
		if *f.Order == "acs" {
			q.Order(Asc(*f.SortBy))
		}

		if *f.Order == "desc" {
			q.Order(Desc(*f.SortBy))
		}
	}
}
func (f {{$.Name}}TableOrderForm) CountQuery() bool {
	return false
}

func Set{{$.Name}}FormQueries(o interface{}) ([]{{$.Name}}TableFormer,[]{{$.Name}}TableFormer) {
	queryList := make([]{{$.Name}}TableFormer,0)
	countList := make([]{{$.Name}}TableFormer,0)
	v := reflect.ValueOf(o)
	former := reflect.TypeOf((*{{$.Name}}TableFormer)(nil)).Elem()
	{{$.Name}}FormDepValue(v, former, &queryList, &countList)
	return queryList, countList
}

func {{$.Name}}FormDepValue(v reflect.Value, former reflect.Type, queryList *[]{{$.Name}}TableFormer, countList *[]{{$.Name}}TableFormer)  {
	for i := 0; i < v.NumField(); i++ {
		f := v.Field(i)
		if f.IsZero() {
			continue
		}
		if f.Type().Implements(former) {
			former := f.Interface().({{$.Name}}TableFormer)
			*queryList = append(*queryList, former)
			if former.CountQuery() {
				*countList = append(*countList, former)
			}
			continue
		}
		if f.Type().Kind() == reflect.Struct {
			{{$.Name}}FormDepValue(f, former, queryList, countList)
		}
	}
}

type {{$.Name}}QueryOps struct {
{{if $.Annotations.rest}}
	*{{$.Name}}TablePagingForm {{if hasKey $.Annotations.rest "pagingMust"}}`binding:"required"`{{end}}
    {{$.Name}}TableOrderForm
{{end}}
{{range $f := $.Fields}}
{{if $f.Annotations.rest}}
{{range $op := $f.Ops}}
{{if (hasKey $f.Annotations.rest.queryOps $op.Name)}}
{{ $func := print $f.StructField $op.Name }}
	{{$.Name}}Table{{ $func }}Form
{{end}}
{{end}}
{{end}}
{{end}}
}

{{range $f := $.Fields}}
{{ range $op := $f.Ops }}
{{if ne $op.Niladic true}}
{{ $func := print $f.StructField $op.Name }}
type {{$.Name}}Table{{ $func }}Form struct {
    {{ $func }} *{{if $op.Variadic}}[]{{end}}{{ $f.Type }} `form:"{{ $func }}" json:"{{ $func }}"`
}
func (f {{$.Name}}Table{{ $func }}Form) Query(q *{{$.Name}}Query) {
	if f.{{ $func }} != nil {
		q.Where({{lower $.Name}}.{{ $func }}(*f.{{ $func }}{{ if $op.Variadic }}...{{end}}))
	}
}
func (f {{$.Name}}Table{{ $func }}Form) CountQuery() bool {
	return true
}
{{end}}
{{end}}
{{end}}


{{ end }}


{{ define "client/additional/interface" }}
{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{range $n := $.Nodes}}
{{$structName := print $n.Name "Base"}}
{{$interfaceName := print $structName "Interface"}}
type {{$interfaceName}} interface {
	RawCreate(ctx context.Context, v *{{pascal $n.Name}}) (res *{{pascal $n.Name}}, err error)
	RawCreateMany(ctx context.Context, vs {{plural $n.Name}}) ({{plural $n.Name}}, error)
	RawGetById(ctx context.Context, id {{$n.ID.Type.String}}) (res *{{pascal $n.Name}}, err error)
	RawByQueriesAll(ctx context.Context, i interface{}) (res {{plural $n.Name}}, count int, err error)
	RawByQueriesOne(ctx context.Context, i interface{}) (res *{{pascal $n.Name}}, err error)
	RawUpdateById(ctx context.Context, id {{$n.ID.Type.String}}, v *{{pascal $n.Name}}) (*{{pascal $n.Name}}, error)
	RawUpdateMany(ctx context.Context, vs {{plural $n.Name}}) (err error)
	{{range $e := $n.Edges }}
    {{$edgeNamePre := print $e.Type.Name "Base"}}
    {{if or $e.O2O $e.M2O}}
	RawCreate{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}},v *{{$e.Type.Name}}) (res *{{pascal $n.Name}}, err error)
	RawGet{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}) (res *{{$e.Type.Name}}, err error)
	RawDelete{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}, deleteId {{$e.Type.ID.Type.String}}) (err error)
	RawUpdateBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context, id {{$n.ID.Type.String}}, updateId {{$e.Type.ID.Type.String}}) (err error)
	RawAddBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context, id {{$n.ID.Type.String}}, addId {{$e.Type.ID.Type.String}}) (err error)
	RawRemoveBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}) (err error)
	{{end}}
    {{if or $e.O2M $e.M2M}}
	RawCreate{{pascal (plural $e.Type.Name)}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}},vs {{plural $e.Type.Name}}) (res *{{pascal $n.Name}}, err error)
	RawGet{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}, i interface{}) (res {{plural $e.Type.Name}},count int,err error)
	RawDelete{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}, deleteIds []{{$e.Type.ID.Type.String}}) (err error)
	RawUpdateBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context, id {{$n.ID.Type.String}}, removeIds []{{$e.Type.ID.Type.String}}, addIds []{{$e.Type.ID.Type.String}}) (err error)
	RawAddBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context, id {{$n.ID.Type.String}}, addIds []{{$e.Type.ID.Type.String}}) (err error)
	RawRemoveBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}, removeIds []{{$e.Type.ID.Type.String}}) (err error)
	{{end}}
    {{end}}

	Create(ctx context.Context, v {{$structName}}CreateReq) (res *{{pascal $n.Name}},err error )
	CreateMany(ctx context.Context, vs []{{$structName}}CreateReq) ({{plural $n.Name}}, error)
	GetById(ctx context.Context, id {{$n.ID.Type.String}}) (res {{$structName}}GetRes,err error)
	ByQueriesAll(ctx context.Context, i interface{}) (res []{{$structName}}GetRes, count int,err error)
	ByQueriesOne(ctx context.Context, i interface{}) (res {{$structName}}GetRes, err error)
	UpdateById(ctx context.Context,id {{$n.ID.Type.String}}, v {{$structName}}UpdateReq) (*{{pascal $n.Name}}, error)
	UpdateMany(ctx context.Context, vs []{{$structName}}UpdateReq) (err error)
	DeleteById(ctx context.Context, id {{$n.ID.Type.String}}) error
	DeleteMany(ctx context.Context, ids []{{$n.ID.Type.String}}) (err error)
	{{range $e := $n.Edges }}
    {{$edgeNamePre := print $e.Type.Name "Base"}}
    {{if or $e.O2O $e.M2O}}
	Create{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}},v {{$edgeNamePre}}CreateReq) (res *{{pascal $n.Name}}, err error)
	Get{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}) (res {{$edgeNamePre}}GetRes, err error)
	{{end}}
    {{if or $e.O2M $e.M2M}}
	Create{{pascal (plural $e.Type.Name)}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}},vs []{{$edgeNamePre}}CreateReq) (res *{{pascal $n.Name}}, err error)
	Get{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}, i interface{}) (res []{{$edgeNamePre}}GetRes,count int,err error)
    {{end}}
    {{end}}
}

type {{$structName}} struct {
	client *Client
}

func Raw{{$structName}}CreateSet(create *{{pascal $n.Name}}Create, v *{{pascal $n.Name}}) *{{pascal $n.Name}}Create {
	return create
		{{- range $f := $n.Fields}}.{{ $func := print "Set" $f.StructField }}
			{{$func}}(v.{{$f.StructField}}){{- end}}
}

func (c *{{$structName}}) RawCreate(ctx context.Context, v *{{pascal $n.Name}}) (res *{{pascal $n.Name}}, err error) {
	create := c.client.{{pascal $n.Name}}.Create()
	Raw{{$structName}}CreateSet(create, v)
	return create.Save(ctx)
}

func (c *{{$structName}}) RawCreateMany(ctx context.Context, vs {{plural $n.Name}}) ({{plural $n.Name}}, error) {
	bulk := make([]*{{pascal $n.Name}}Create, len(vs))
	for i, v := range vs {
		create := c.client.{{pascal $n.Name}}.Create()
		Raw{{$structName}}CreateSet(create, v)
		bulk[i] = create
	}
	return c.client.{{pascal $n.Name}}.CreateBulk(bulk...).Save(ctx)
}

func (c *{{$structName}}) RawGetById(ctx context.Context, id {{$n.ID.Type.String}}) (res *{{pascal $n.Name}}, err error) {
	return c.client.{{pascal $n.Name}}.Query().Where({{lower $n.Name}}.IDEQ(id)).First(ctx)
}

func (c *{{$structName}}) RawByQueriesOne(ctx context.Context, i interface{}) (res *{{pascal $n.Name}}, err error) {
	return c.client.{{pascal $n.Name}}.Query().Queries(i).First(ctx)
}

func (c *{{$structName}}) RawByQueriesAll(ctx context.Context, i interface{}) (res {{plural $n.Name}}, count int, err error) {
	return c.client.{{pascal $n.Name}}.Query().ByQueriesAll(ctx,i)
}

func Raw{{$structName}}UpdateSet(update *{{pascal $n.Name}}UpdateOne, v *{{pascal $n.Name}}) *{{pascal $n.Name}}UpdateOne  {
	return update
		{{- range $f := $n.Fields}}{{if not $f.Immutable}}.{{ $func := print "Set" $f.StructField }}
			{{$func}}(v.{{$f.StructField}}){{end}}{{- end}}
}


func (c *{{$structName}}) RawUpdateById(ctx context.Context, id {{$n.ID.Type.String}}, v *{{pascal $n.Name}}) (*{{pascal $n.Name}}, error) {
	update := c.client.{{pascal $n.Name}}.UpdateOneID(id)
	Raw{{$structName}}UpdateSet(update, v)
	return update.Save(ctx)
}

func (c *{{$structName}}) RawUpdateMany(ctx context.Context, vs {{plural $n.Name}}) (err error) {
	tx, err := c.client.Tx(ctx)

	if err != nil {
		return err
	}

	defer func() {
		if err != nil {
			if rerr := tx.Rollback(); rerr != nil {
				err = fmt.Errorf("%w: %v", err, rerr)
			}
			return
		}

		err = tx.Commit()
	}()

	for _,v := range vs {
		update := tx.{{pascal $n.Name}}.UpdateOneID(v.ID)
		Raw{{$structName}}UpdateSet(update, v)
		_, err = update.Save(ctx)
		if err != nil {
			return err
		}
	}
	return nil
}



{{range $e := $n.Edges }}
{{$edgeNamePre := print $e.Type.Name "Base"}}
    {{if or $e.O2O $e.M2O}}
func (c *{{$structName}}) RawCreate{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}},v *{{$e.Type.Name}}) (res *{{pascal $n.Name}}, err error) {
	tx , err := c.client.Tx(ctx)
	if err != nil {
		return
	}
	defer func() {
		if err != nil {
			if rerr := tx.Rollback(); rerr != nil {
				err = fmt.Errorf("%w: %v", err, rerr)
			}
			return
		}
		err =tx.Commit()
	}()

	create := tx.{{$e.Type.Name}}.Create()
	Raw{{$edgeNamePre}}CreateSet(create, v)
	save, err := create.Save(ctx)
	if err != nil {
		return
	}

	return tx.{{pascal $n.Name}}.UpdateOneID(id).Set{{pascal $e.Name}}(save).Save(ctx)
}

func (c *{{$structName}}) RawGet{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}) (res *{{$e.Type.Name}}, err error) {
	return c.client.{{pascal $n.Name}}.Query().Where({{lower $n.Name}}.ID(id)).Query{{pascal $e.Name}}().First(ctx)
}
func (c *{{$structName}}) RawRemoveBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}) (err error) {
	_, err = c.client.{{pascal $n.Name}}.UpdateOneID(id).{{$e.MutationClear}}().Save(ctx)
	return
}
func (c *{{$structName}}) RawDelete{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}, deleteId {{$e.Type.ID.Type.String}}) (err error) {
    tx,err  := c.client.Tx(ctx)
	if err != nil {
		return
	}
	defer func() {
		if err != nil {
			if rerr := tx.Rollback(); rerr != nil {
				err = fmt.Errorf("%w: %v", err, rerr)
			}
			return
		}
		err = tx.Commit()
	}()

	_,err = tx.client.{{pascal $n.Name}}.UpdateOneID(id).{{$e.MutationClear}}().Save(ctx)
	if err != nil {
		return
	}
	_,err = tx.client.{{$e.Type.Name}}.Delete().Where({{lower $e.Type.Name}}.IDEQ(deleteId)).Exec(ctx)
	return
}

func (c *{{$structName}}) RawUpdateBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context, id {{$n.ID.Type.String}}, updateId {{$e.Type.ID.Type.String}}) (err error) {
	return c.client.{{pascal $n.Name}}.UpdateOneID(id).{{$e.MutationSet}}(updateId).Exec(ctx)
}

func (c *{{$structName}}) RawAddBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context, id {{$n.ID.Type.String}}, addId {{$e.Type.ID.Type.String}}) (err error) {
	return c.client.{{pascal $n.Name}}.UpdateOneID(id).{{$e.MutationSet}}(addId).Exec(ctx)
}
	{{end}}
    {{if or $e.O2M $e.M2M}}
func (c *{{$structName}}) RawCreate{{pascal (plural $e.Type.Name)}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}},vs {{plural $e.Type.Name}}) (res *{{pascal $n.Name}}, err error) {
	tx , err := c.client.Tx(ctx)
	if err != nil {
		return
	}
	defer func() {
		if err != nil {
			if rerr := tx.Rollback(); rerr != nil {
				err = fmt.Errorf("%w: %v", err, rerr)
			}
			return
		}
		err =tx.Commit()
	}()

	bulk := make([]*{{$e.Type.Name}}Create, len(vs))
	for i, v := range vs {
		create := c.client.{{$e.Type.Name}}.Create()
		Raw{{$edgeNamePre}}CreateSet(create, v)
		bulk[i] = create
	}
	save, err := tx.{{$e.Type.Name}}.CreateBulk(bulk...).Save(ctx)
	if err != nil {
		return
	}

	return tx.{{pascal $n.Name}}.UpdateOneID(id).Add{{pascal $e.Name}}(save...).Save(ctx)
}
func (c *{{$structName}}) RawGet{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}, i interface{}) (res {{plural $e.Type.Name}},count int,err error) {
	return c.client.{{pascal $n.Name}}.Query().Where({{lower $n.Name}}.ID(id)).Query{{pascal $e.Name}}().ByQueriesAll(ctx, i)
}
func (c *{{$structName}}) RawRemoveBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}, removeIds []{{$e.Type.ID.Type.String}}) (err error) {
	_, err = c.client.{{pascal $n.Name}}.UpdateOneID(id).{{$e.MutationRemove}}(removeIds...).Save(ctx)
	return
}
func (c *{{$structName}}) RawDelete{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}, deleteIds []{{$e.Type.ID.Type.String}}) (err error) {
	tx,err  := c.client.Tx(ctx)
	if err != nil {
		return
	}
	defer func() {
		if err != nil {
			if rerr := tx.Rollback(); rerr != nil {
				err = fmt.Errorf("%w: %v", err, rerr)
			}
			return
		}
		err = tx.Commit()
	}()

	_,err = tx.client.{{pascal $n.Name}}.UpdateOneID(id).{{$e.MutationRemove}}(deleteIds...).Save(ctx)
	if err != nil {
		return
	}
	_,err = tx.client.{{pascal $e.Type.Name}}.Delete().Where({{lower $e.Type.Name}}.IDIn(deleteIds...)).Exec(ctx)
	return
}

func (c *{{$structName}}) RawUpdateBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context, id {{$n.ID.Type.String}}, removeIds []{{$e.Type.ID.Type.String}}, addIds []{{$e.Type.ID.Type.String}}) (err error) {
	return c.client.{{pascal $n.Name}}.UpdateOneID(id).{{$e.MutationRemove}}(removeIds...).{{$e.MutationAdd}}(addIds...).Exec(ctx)
}

func (c *{{$structName}}) RawAddBind{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context, id {{$n.ID.Type.String}}, addIds []{{$e.Type.ID.Type.String}}) (err error) {
	return c.client.{{pascal $n.Name}}.UpdateOneID(id).{{$e.MutationAdd}}(addIds...).Exec(ctx)
}

    {{end}}
{{end}}


type {{$structName}}CreateReq struct {
	{{range $f := $n.Fields}}{{if hasKey $f.Annotations.rest "create"}}
	{{pascal $f.Name}} {{$f.Type}} `{{$f.StructTag}}"`
	{{end}}{{end}}
}

func {{$structName}}CreateSet(create *{{pascal $n.Name}}Create, v {{$structName}}CreateReq) *{{pascal $n.Name}}Create {
	return create
		{{- range $f := $n.Fields}}{{if hasKey $f.Annotations.rest "create"}}.{{ $func := print "Set" $f.StructField }}
			{{$func}}(v.{{$f.StructField}}){{end}}{{- end}}
}

func (c *{{$structName}}) Create(ctx context.Context, v {{$structName}}CreateReq) (res *{{pascal $n.Name}}, err error) {
	create := c.client.{{pascal $n.Name}}.Create()
	{{$structName}}CreateSet(create, v)
	return create.Save(ctx)
}

func (c *{{$structName}}) CreateMany(ctx context.Context, vs []{{$structName}}CreateReq) ({{plural $n.Name}}, error) {
	bulk := make([]*{{pascal $n.Name}}Create, len(vs))
	for i, v := range vs {
		create := c.client.{{pascal $n.Name}}.Create()
		{{$structName}}CreateSet(create, v)
		bulk[i] = create
	}
	return c.client.{{pascal $n.Name}}.CreateBulk(bulk...).Save(ctx)
}
type {{$structName}}GetRes struct {
	{{pascal $n.ID.Name}} {{$n.ID.Type.String}} `{{$n.ID.StructTag}}`
{{range $f := $n.Fields}}{{if hasKey $f.Annotations.rest "read"}}
	{{pascal $f.Name}} {{$f.Type.String}} `{{$f.StructTag}}`
{{end}}{{end}}
}

func (c *{{$structName}}) GetById(ctx context.Context, id {{$n.ID.Type.String}}) (res {{$structName}}GetRes, err error) {
	query := c.client.{{pascal $n.Name}}.Query()
	query = query.Where({{lower $n.Name}}.IDEQ(id))

	v, err := query.First(ctx)
	if err != nil {
		return
	}

	res.{{pascal $n.ID.Name}} = v.{{pascal $n.ID.Name}}
	{{range $f := $n.Fields}}{{if hasKey $f.Annotations.rest "read"}}
	res.{{pascal $f.Name}} = v.{{pascal $f.Name}}
	{{end}}{{end}}

	return
}

func (c *{{$structName}}) ByQueriesOne(ctx context.Context, i interface{}) (res {{$structName}}GetRes, err error) {
	v, err := c.client.{{pascal $n.Name}}.Query().Queries(i).First(ctx)
	if err != nil {
		return
	}
	res.{{pascal $n.ID.Name}} = v.{{pascal $n.ID.Name}}
	{{range $f := $n.Fields}}{{if hasKey $f.Annotations.rest "read"}}
	res.{{pascal $f.Name}} = v.{{pascal $f.Name}}
	{{end}}{{end}}
	return
}

func (c *{{$structName}}) ByQueriesAll(ctx context.Context, i interface{}) (res []{{$structName}}GetRes, count int, err error) {
	vs, count, err := c.client.{{pascal $n.Name}}.Query().ByQueriesAll(ctx,i)
    for _,v := range vs {
		res = append(res, {{$structName}}GetRes{
			{{pascal $n.ID.Name}}: v.{{pascal $n.ID.Name}},
			{{range $f := $n.Fields}}{{if hasKey $f.Annotations.rest "read"}}
			{{pascal $f.Name}}: v.{{pascal $f.Name}},
			{{end}}{{end}}
		})
	}
	return
}

type {{$structName}}UpdateReq struct {
	{{pascal $n.ID.Name}} {{$n.ID.Type.String}} `{{$n.ID.StructTag}}`
{{range $f := $n.Fields}}{{if hasKey $f.Annotations.rest "update"}}
    {{pascal $f.Name}} {{$f.Type.String}} `{{$f.StructTag}}`
{{end}}{{end}}
}

func {{$structName}}UpdateSet(update *{{pascal $n.Name}}UpdateOne, v {{$structName}}UpdateReq) *{{pascal $n.Name}}UpdateOne  {
	return update
		{{- range $f := $n.Fields}}{{if hasKey $f.Annotations.rest "update"}}.{{ $func := print "Set" $f.StructField }}
			{{$func}}(v.{{$f.StructField}}){{end}}{{- end}}
}


func (c *{{$structName}}) UpdateById(ctx context.Context, id {{$n.ID.Type.String}}, v {{$structName}}UpdateReq) (*{{pascal $n.Name}}, error) {
	update := c.client.{{pascal $n.Name}}.UpdateOneID(id)
	{{$structName}}UpdateSet(update, v)
	return update.Save(ctx)
}

func (c *{{$structName}}) UpdateMany(ctx context.Context, vs []{{$structName}}UpdateReq) (err error) {
	tx, err := c.client.Tx(ctx)

	if err != nil {
		return err
	}

	defer func() {
		if err != nil {
			if rerr := tx.Rollback(); rerr != nil {
				err = fmt.Errorf("%w: %v", err, rerr)
			}
			return
		}

		err = tx.Commit()
	}()

	for _,v := range vs {
		update := tx.{{pascal $n.Name}}.UpdateOneID(v.ID)
		{{$structName}}UpdateSet(update, v)
		_, err = update.Save(ctx)
		if err != nil {
			return err
		}
	}
	return nil
}

func (c *{{$structName}}) DeleteById(ctx context.Context, id {{$n.ID.Type.String}}) error {
	return c.client.{{pascal $n.Name}}.DeleteOneID(id).Exec(ctx)
}

func (c *{{$structName}}) DeleteMany(ctx context.Context, ids []{{$n.ID.Type.String}}) error {
	_,err := c.client.{{pascal $n.Name}}.Delete().Where({{lower $n.Name}}.IDIn(ids...)).Exec(ctx)
	return err
}

{{range $e := $n.Edges }}
{{$edgeNamePre := print $e.Type.Name "Base"}}
    {{if or $e.O2O $e.M2O}}
func (c *{{$structName}}) Create{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}},v {{$edgeNamePre}}CreateReq) (res *{{pascal $n.Name}}, err error) {
	tx , err := c.client.Tx(ctx)
	if err != nil {
		return
	}
	defer func() {
		if err != nil {
			if rerr := tx.Rollback(); rerr != nil {
				err = fmt.Errorf("%w: %v", err, rerr)
			}
			return
		}
		err =tx.Commit()
	}()

	create := tx.{{$e.Type.Name}}.Create()
	{{$edgeNamePre}}CreateSet(create, v)
	save, err := create.Save(ctx)
	if err != nil {
		return
	}

	return tx.{{pascal $n.Name}}.UpdateOneID(id).Set{{pascal $e.Name}}(save).Save(ctx)
}

func (c *{{$structName}}) Get{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}) (res {{$edgeNamePre}}GetRes, err error) {
	v, err := c.client.{{pascal $n.Name}}.Query().Where({{lower $n.Name}}.ID(id)).Query{{pascal $e.Name}}().First(ctx)
    if err != nil {
		return
	}
	res.{{pascal $e.Type.ID.Name}} = v.{{pascal $e.Type.ID.Name}}
{{range $f := $e.Type.Fields}}{{if hasKey $f.Annotations.rest "read"}}
	res.{{pascal $f.Name}} = v.{{pascal $f.Name}}
{{end}}{{end}}
	return
}
	{{end}}
    {{if or $e.O2M $e.M2M}}
func (c *{{$structName}}) Create{{pascal (plural $e.Type.Name)}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}},vs []{{$edgeNamePre}}CreateReq) (res *{{pascal $n.Name}}, err error) {
	tx , err := c.client.Tx(ctx)
	if err != nil {
		return
	}
	defer func() {
		if err != nil {
			if rerr := tx.Rollback(); rerr != nil {
				err = fmt.Errorf("%w: %v", err, rerr)
			}
			return
		}
		err =tx.Commit()
	}()

	bulk := make([]*{{$e.Type.Name}}Create, len(vs))
	for i, v := range vs {
		create := c.client.{{$e.Type.Name}}.Create()
		{{$edgeNamePre}}CreateSet(create, v)
		bulk[i] = create
	}
	save, err := tx.{{$e.Type.Name}}.CreateBulk(bulk...).Save(ctx)
	if err != nil {
		return
	}

	return tx.{{pascal $n.Name}}.UpdateOneID(id).Add{{pascal $e.Name}}(save...).Save(ctx)
}
func (c *{{$structName}}) Get{{$e.StructField}}By{{pascal $n.Name}}Id(ctx context.Context,id {{$n.ID.Type.String}}, i interface{}) (res []{{$edgeNamePre}}GetRes,count int,err error) {
	vs, count, err := c.client.{{pascal $n.Name}}.Query().Where({{lower $n.Name}}.ID(id)).Query{{pascal $e.Name}}().ByQueriesAll(ctx, i)
	for _,v := range vs {
		res = append(res, {{$edgeNamePre}}GetRes{
{{pascal $e.Type.ID.Name}}: v.{{pascal $e.Type.ID.Name}},
{{range $f := $e.Type.Fields}}{{if hasKey $f.Annotations.rest "read"}}
	{{pascal $f.Name}}:  v.{{pascal $f.Name}},
{{end}}{{end}}
		})
	}
	return
}
    {{end}}
{{end}}

func New{{$structName}}(client *Client) {{$structName}}Interface {
	return &{{$structName}}{client: client}
}
{{end}}
{{end}}

{{ define "client/additional/rest" }}
{{/* gotype: entgo.io/ent/entc/gen.Graph */}}
type RestInterface interface {
{{range $n := $.Nodes}}
	{{pascal $n.Name}}RestInterface
{{end}}
}

type rest struct {
{{range $n := $.Nodes}}
    {{pascal $n.Name}}RestInterface
{{end}}
}

func NewRest(db *Client) *rest {
	return &rest {
		{{range $n := $.Nodes}}
        {{pascal $n.Name}}RestInterface: New{{pascal $n.Name}}Rest(db),
		{{end}}
	}
}

{{range $n := $.Nodes}}
{{$structName := print $n.Name "Rest"}}
{{$interfaceName := print $structName "Interface"}}
{{$nodeHttpName := lower (plural $n.Name)}}
{{$baseNamePre := print $n.Name "Base"}}
type {{$interfaceName}} interface {
	// @http-gin /{{lower $n.Name}} POST
	{{- $funcName := print $structName "Create"}} {{$req := print $funcName "Req" }} {{$res := print $funcName "Res" }}
	{{$funcName}}(ctx context.Context, req {{$req}}) (res *{{pascal $n.Name}},err error )
	// @http-gin /{{$nodeHttpName}} POST
	{{- $funcName = print $structName "CreateMany"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
	{{$funcName}}(ctx context.Context, req {{$req}}) (res {{plural $n.Name}},err error)
	// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id GET
	{{- $funcName = print $structName "GetById"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
	{{$funcName}}(ctx context.Context, req {{$req}}) (res {{$baseNamePre}}GetRes,err error)
	// @http-gin /{{$nodeHttpName}} GET
	{{- $funcName = print $structName "ByQueriesAll"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
	{{$funcName}}(ctx context.Context, req {{$req}}) (res {{$res}},err error)
	// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id PUT
	{{- $funcName = print $structName "UpdateById"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
	{{$funcName}}(ctx context.Context,req {{$req}}) (res *{{pascal $n.Name}},err error)
	// @http-gin /{{$nodeHttpName}} PUT
	{{- $funcName = print $structName "UpdateMany"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
	{{$funcName}}(ctx context.Context, req {{$req}}) (success bool,err error)
	// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id DELETE
	{{- $funcName = print $structName "DeleteById"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
	{{$funcName}}(ctx context.Context, req {{$req}}) (success bool,err error)
	// @http-gin /{{$nodeHttpName}} DELETE
	{{- $funcName = print $structName "DeleteMany"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
	{{$funcName}}(ctx context.Context, req {{$req}}) (success bool,err error)
	{{range $e := $n.Edges }}
	{{$edgeHttpName := lower ($e.StructField)}}
    {{$edgeBasePre := print $e.Type.Name "Base"}}
    {{if or $e.O2O $e.M2O}}
		// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{lower $e.Name}} POST
        {{- $funcName = print $structName "Create" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
		{{$funcName}}(ctx context.Context,req {{$req}}) (res *{{pascal $n.Name}}, err error)
		// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{lower $e.Name}} GET
        {{- $funcName = print $structName "Get" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
		{{$funcName}}(ctx context.Context,req {{$req}}) (res {{$edgeBasePre}}GetRes, err error)
		// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{lower $e.Name}} DELETE
		{{- $funcName = print $structName "Delete" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
		{{$funcName}}(ctx context.Context,req {{$req}}) (res string, err error)
		// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{lower $e.Name}}/bind/remove PUT
		{{- $funcName = print $structName "RemoveBind" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
		{{$funcName}}(ctx context.Context,req {{$req}}) (res string, err error)
		// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{lower $e.Name}}/:{{lower $e.StructField}}Id/bind/add PUT
		{{- $funcName = print $structName "AddBind" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
		{{$funcName}}(ctx context.Context,req {{$req}}) (res string, err error)
		// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{lower $e.Name}}/:{{lower $e.StructField}}Id/bind/update PUT
		{{- $funcName = print $structName "UpdateBind" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
		{{$funcName}}(ctx context.Context,req {{$req}}) (res string, err error)
	{{end}}
    {{if or $e.O2M $e.M2M}}
	    // @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{$edgeHttpName}} POST
        {{- $funcName = print $structName "Create" (pascal (plural $e.Type.Name)) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
	    {{$funcName}}(ctx context.Context,req {{$req}}) (res *{{pascal $n.Name}}, err error)
	    // @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{$edgeHttpName}} GET
        {{- $funcName = print $structName "Get" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
	    {{$funcName}}(ctx context.Context,req {{$req}}) (res {{$res}},err error)
        // @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{$edgeHttpName}} DELETE
        {{- $funcName = print $structName "Delete" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
		{{$funcName}}(ctx context.Context,req {{$req}}) (res string, err error)
		// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{$edgeHttpName}}/bind/remove PUT
		{{- $funcName = print $structName "RemoveBind" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
		{{$funcName}}(ctx context.Context,req {{$req}}) (res string, err error)
		// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{$edgeHttpName}}/bind/add PUT
		{{- $funcName = print $structName "AddBind" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
		{{$funcName}}(ctx context.Context,req {{$req}}) (res string, err error)
		// @http-gin /{{$nodeHttpName}}/:{{lower $n.Name}}Id/{{$edgeHttpName}}/bind/update PUT
		{{- $funcName = print $structName "UpdateBind" ($e.StructField) "By" $n.Name "Id"}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
		{{$funcName}}(ctx context.Context,req {{$req}}) (res string, err error)
    {{end}}
	{{end}}
}
func New{{pascal $n.Name}}Rest(client *Client) {{pascal $n.Name}}RestInterface  {
	return &{{pascal $n.Name}}Rest{repo: &{{pascal $n.Name}}Base{client: client}}
}

type {{$structName}} struct {
	repo {{print $n.Name "BaseInterface"}}
}

{{$funcName = print $structName "Create"}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Body {{$baseNamePre}}CreateReq `json:"body"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res *{{pascal $n.Name}}, err error) {
	return rest.repo.Create(ctx, req.Body)
}
{{$funcName = print $structName "CreateMany"}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Body []{{$baseNamePre}}CreateReq `json:"body"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res {{plural $n.Name}},err error) {
	return rest.repo.CreateMany(ctx, req.Body)
}

{{$funcName = print $structName "GetById"}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		Id {{$n.ID.Type}} `json:"id" uri:"{{lower $n.Name}}Id"`
	}
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res {{$baseNamePre}}GetRes, err error) {
	return rest.repo.GetById(ctx, req.Uri.Id)
}
{{$funcName = print $structName "ByQueriesAll"}} {{$req = print $funcName "Req" }} {{$res = print  $funcName "Res" }}
type {{$req}} struct {
	Query {{pascal $n.Name}}QueryOps `json:"query"`
}

type {{$res}} struct {
	List []{{$baseNamePre}}GetRes `json:"items"`
	Total int `json:"total"`
}


func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res {{$res}}, err error) {
	list, total,err := rest.repo.ByQueriesAll(ctx, req.Query)
	return {{$res}}{List:list, Total:total},err
}
{{$funcName = print $structName "UpdateById"}} {{$req = print  $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		Id {{$n.ID.Type}} `json:"id" uri:"{{lower $n.Name}}Id"`
	} `json:"uri"`
	Body {{$baseNamePre}}UpdateReq `json:"body"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res *{{pascal $n.Name}},err error) {
	return rest.repo.UpdateById(ctx, req.Uri.Id, req.Body)
}
{{$funcName = print $structName "UpdateMany"}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Body []{{$baseNamePre}}UpdateReq `json:"body"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (success bool,err error) {
	err = rest.repo.UpdateMany(ctx, req.Body)
	if err != nil {
		return false, err
	}
	return true, err
}
{{$funcName = print $structName "DeleteById"}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		Id {{$n.ID.Type}} `json:"id" uri:"{{lower $n.Name}}Id"`
	} `json:"uri"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (success bool,err error) {
	err = rest.repo.DeleteById(ctx, req.Uri.Id)
	if err != nil {
		return false, err
	}
	return true, err
}
{{$funcName = print $structName "DeleteMany"}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Query struct{
		Ids []{{$n.ID.Type}} `json:"ids" form:"ids"`
	} `json:"query"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (success bool,err error) {
	err = rest.repo.DeleteMany(ctx, req.Query.Ids)
	if err != nil {
		return false, err
	}
	return true, err
}
{{range $e := $n.Edges }}
    {{$edgeHttpName := lower (plural $e.Name)}}
    {{$edgeBasePre := print $e.Type.Name "Base"}}
    {{if or $e.O2O $e.M2O}}
    {{$baseName := print "Create" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		Id {{$n.ID.Type}} `json:"id" uri:"{{lower $n.Name}}Id"`
	}
	Body {{$edgeBasePre}}CreateReq `json:"body"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res *{{pascal $n.Name}}, err error) {
	return rest.repo.{{$baseName}}(ctx, req.Uri.Id, req.Body)
}
    {{$baseName = print "Get" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		Id {{$n.ID.Type}} `json:"id" uri:"{{lower $n.Name}}Id"`
	} `json:"uri"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res {{$edgeBasePre}}GetRes, err error) {
	return rest.repo.{{$baseName}}(ctx, req.Uri.Id)
}

{{$baseName = print "Delete" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		{{pascal $n.Name}}Id {{$n.ID.Type.String}} `json:"{{lower $n.Name}}Id" uri:"{{lower $n.Name}}Id"`
		{{$e.StructField}}Id {{$e.Type.ID.Type.String}} `json:"{{lower $e.StructField}}Id" uri:"{{lower $e.StructField}}Id"`
	} `json:"uri"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res string, err error) {
	return "",rest.repo.Raw{{$baseName}}(ctx, req.Uri.{{pascal $n.Name}}Id, req.Uri.{{$e.StructField}}Id)

}

{{$baseName = print "RemoveBind" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		{{pascal $n.Name}}Id {{$n.ID.Type.String}} `json:"{{lower $n.Name}}Id" uri:"{{lower $n.Name}}Id"`
	} `json:"uri"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res string, err error) {
	return "", rest.repo.Raw{{$baseName}}(ctx, req.Uri.{{pascal $n.Name}}Id)
}

{{$baseName = print "AddBind" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		{{pascal $n.Name}}Id {{$n.ID.Type.String}} `json:"{{lower $n.Name}}Id" uri:"{{lower $n.Name}}Id"`
		{{$e.StructField}}Id {{$e.Type.ID.Type.String}} `json:"{{lower $e.StructField}}Id" uri:"{{lower $e.StructField}}Id"`
	} `json:"uri"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res string, err error) {
	return "", rest.repo.Raw{{$baseName}}(ctx, req.Uri.{{pascal $n.Name}}Id, req.Uri.{{$e.StructField}}Id)
}

{{$baseName = print "UpdateBind" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		{{pascal $n.Name}}Id {{$n.ID.Type.String}} `json:"{{lower $n.Name}}Id" uri:"{{lower $n.Name}}Id"`
		{{$e.StructField}}Id {{$e.Type.ID.Type.String}} `json:"{{lower $e.StructField}}Id" uri:"{{lower $e.StructField}}Id"`
	} `json:"uri"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res string, err error) {
	return "", rest.repo.Raw{{$baseName}}(ctx, req.Uri.{{pascal $n.Name}}Id, req.Uri.{{$e.StructField}}Id)
}

    {{end}}
    {{if or $e.O2M $e.M2M}}
    {{$baseName := print "Create" (pascal (plural $e.Type.Name)) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		Id {{$n.ID.Type}} `json:"id" uri:"{{lower $n.Name}}Id"`
	}
	Body []{{$edgeBasePre}}CreateReq `json:"body"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res *{{pascal $n.Name}}, err error) {
	return rest.repo.{{$baseName}}(ctx, req.Uri.Id, req.Body)
}
{{$baseName = print "Get" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }} {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		Id {{$n.ID.Type}} `json:"id" uri:"{{lower $n.Name}}Id"`
	} `json:"uri"`
	Query {{$e.Type.Name}}QueryOps `json:"query"`
}

type {{$res}} struct {
	List []{{$edgeBasePre}}GetRes `json:"list"`
	Total int `json:"total"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res {{$res}}, err error) {
	list, total,err := rest.repo.{{$baseName}}(ctx, req.Uri.Id, req.Query)
    return {{$res}}{List:list, Total:total},err
}

{{$baseName = print "Delete" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		{{pascal $n.Name}}Id {{$n.ID.Type.String}} `json:"{{lower $n.Name}}Id" uri:"{{lower $n.Name}}Id"`
	} `json:"uri"`
    Query struct{
		{{$e.StructField}}Ids []{{$e.Type.ID.Type.String}} `json:"{{lower $e.StructField}}Ids" form:"{{lower $e.StructField}}Ids"`
	}
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res string, err error) {
	return "",rest.repo.Raw{{$baseName}}(ctx, req.Uri.{{pascal $n.Name}}Id, req.Query.{{$e.StructField}}Ids)

}

{{$baseName = print "RemoveBind" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		{{pascal $n.Name}}Id {{$n.ID.Type.String}} `json:"{{lower $n.Name}}Id" uri:"{{lower $n.Name}}Id"`
	} `json:"uri"`
    Body struct{
		{{$e.StructField}}Ids []{{$e.Type.ID.Type.String}} `json:"{{lower $e.StructField}}Ids"`
	}
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res string, err error) {
	return "", rest.repo.Raw{{$baseName}}(ctx, req.Uri.{{pascal $n.Name}}Id, req.Body.{{$e.StructField}}Ids)
}

{{$baseName = print "AddBind" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		{{pascal $n.Name}}Id {{$n.ID.Type.String}} `json:"{{lower $n.Name}}Id" uri:"{{lower $n.Name}}Id"`
	} `json:"uri"`
    Body struct{
		{{$e.StructField}}Ids []{{$e.Type.ID.Type.String}} `json:"{{lower $e.StructField}}Ids"`
	}
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res string, err error) {
	return "", rest.repo.Raw{{$baseName}}(ctx, req.Uri.{{pascal $n.Name}}Id, req.Body.{{$e.StructField}}Ids)
}

{{$baseName = print "UpdateBind" ($e.StructField) "By" $n.Name "Id"}} {{$funcName = print $structName $baseName}} {{$req = print $funcName "Req" }}  {{$res = print $funcName "Res" }}
type {{$req}} struct {
	Uri struct{
		{{pascal $n.Name}}Id {{$n.ID.Type.String}} `json:"{{lower $n.Name}}Id" uri:"{{lower $n.Name}}Id"`
	} `json:"uri"`
    Body struct{
		OldIds []{{$e.Type.ID.Type.String}} `json:"OldIds"`
        NewIds []{{$e.Type.ID.Type.String}} `json:"NewIds"`
	} `json:"body"`
}

func (rest *{{$structName}}) {{$funcName}}(ctx context.Context, req {{$req}}) (res string, err error) {
	return "", rest.repo.Raw{{$baseName}}(ctx, req.Uri.{{pascal $n.Name}}Id, req.Body.OldIds, req.Body.NewIds)
}

    {{end}}
{{end}}




{{end}}
{{end}}


