{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{  define "query/additional/form" }}
{{ $builder := $.QueryName }}
{{ $receiver := receiver $builder }}
func ({{ $receiver }} *{{ $builder }}) ByQueries(ctx context.Context, i interface{}) (res {{plural .Name}},count int, err error) {
	SetPodFormQueries(i, {{ $receiver }})
	count,err = {{ $receiver }}.Count(ctx)
	if err != nil {
		return
	}
	res,err = {{ $receiver }}.All(ctx)
	return
}

type {{$.Name}}TableFormer interface {
	Query(q *{{$.Name}}Query)
}

type {{$.Name}}TablePagingForm struct {
	Limit *int `json:"_limit" form:"_limit"`
	Page *int `json:"_page" form:"_page"`
}
func (f {{$.Name}}TablePagingForm) Query(q *{{$.Name}}Query) {
	if f.Limit != nil && f.Page != nil {
		q.Limit(*f.Limit).Offset((*f.Page-1) * *f.Limit)
	}
}

type {{$.Name}}TableOrderForm struct {
	Order *string `json:"order" form:"_order" binding:"omitempty,oneof=acs desc"`
	SortBy *string `json:"sortBy" form:"_sortBy"`
}

func (f {{$.Name}}TableOrderForm) Query(q *{{$.Name}}Query) {
	if f.Order != nil && f.SortBy != nil {
		if *f.Order == "acs" {
			q.Order(Asc(*f.SortBy))
		}

		if *f.Order == "desc" {
			q.Order(Desc(*f.SortBy))
		}
	}
}
	
func Set{{$.Name}}FormQueries(o interface{}, q *{{$.Name}}Query) []{{$.Name}}TableFormer {
	l := make([]{{$.Name}}TableFormer,0)
	v := reflect.ValueOf(o)
	former := reflect.TypeOf((*{{$.Name}}TableFormer)(nil)).Elem()
	{{$.Name}}FormDepValue(v, former, &l)
	for _, e := range l {
		e.Query(q)
	}
	return l
}

func {{$.Name}}FormDepValue(v reflect.Value, former reflect.Type, l *[]{{$.Name}}TableFormer)  {
	for i := 0; i < v.NumField(); i++ {
		f := v.Field(i)
		if f.IsZero() {
			continue
		}
		if f.Type().Implements(former) {
			*l = append(*l, f.Interface().({{$.Name}}TableFormer))
			continue
		}
		if f.Type().Kind() == reflect.Struct {
			{{$.Name}}FormDepValue(f, former, l)
		}
	}
}

{{range $f := $.Fields}}
{{ range $op := $f.Ops }}
{{if ne $op.Niladic true}}
{{ $func := print $f.StructField $op.Name }}
type {{$.Name}}Table{{ $func }}Form struct {
    {{ $func }} *{{if $op.Variadic}}[]{{end}}{{ $f.Type }} `form:"{{ $func }}" json:"{{ $func }}"`
}
func (f {{$.Name}}Table{{ $func }}Form) Query(q *{{$.Name}}Query) {
	if f.{{ $func }} != nil {
		q.Where({{lower $.Name}}.{{ $func }}(*f.{{ $func }}{{ if $op.Variadic }}...{{end}}))
	}
}
{{end}}

{{end}}
{{end}}


{{ end }}


{{ define "client/additional/interface" }}
{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{range $n := $.Nodes}}
{{$structName := print $n.Name "Base"}}
{{$interfaceName := print $structName "Interface"}}
type {{$interfaceName}} interface {
	Create(ctx context.Context, v {{$n.Name}}) (res *{{$n.Name}},err error )
	GetById(ctx context.Context, id {{$n.ID.Type.String}}) (res *{{$n.Name}},err error)
	ByQueries(ctx context.Context, i interface{}) (res {{plural $n.Name}}, count int,err error)
	UpdateById(ctx context.Context,id {{$n.ID.Type.String}}, v *{{$n.Name}}) (*{{$n.Name}}, error)
	DeleteById(ctx context.Context, id {{$n.ID.Type.String}}) error
}

type {{$structName}} struct {
	client *{{$n.Name}}Client
}

func (c *{{$structName}}) Create(ctx context.Context, v {{$n.Name}}) (res *{{$n.Name}}, err error) {
	return c.client.Create().
		{{- range $f := $n.Fields}}{{ $func := print "Set" $f.StructField }}
			{{$func}}(v.{{$f.StructField}}).{{- end}}Save(ctx)
}

func (c *{{$structName}}) GetById(ctx context.Context, id {{$n.ID.Type.String}}) (res *{{$n.Name}}, err error) {
	return c.client.Get(ctx, id)
}

func (c *{{$structName}}) ByQueries(ctx context.Context, i interface{}) (res {{plural $n.Name}}, count int, err error) {
	res, count, err = c.client.Query().ByQueries(ctx,i)
	return
}

func (c *{{$structName}}) UpdateById(ctx context.Context, id {{$n.ID.Type.String}}, v *{{$n.Name}}) (*{{$n.Name}}, error) {
	return c.client.UpdateOne(v).Save(ctx)
}

func (c *{{$structName}}) DeleteById(ctx context.Context, id {{$n.ID.Type.String}}) error {
	return c.client.DeleteOneID(id).Exec(ctx)
}

func New{{$structName}}(client *{{$n.Name}}Client) {{$structName}}Interface {
	return &{{$structName}}{client: client}
}
{{end}}
{{end}}